.wh_tile {
    background-color: #3f526f;
    border-radius: 75px;
    border: 0.01em solid #dce5ff;
}
.wh_tile {
    margin: 1em;
    padding: 0.75em;
    width: 30%;
    min-width: 300px;
    min-height: 130px;
}

.wh_tile_title a {
    color: white;
}
.sectiontitle {
    color: #3f526f;
    font-size: 1.37em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1.5em;
}
.wh_search_button {
    background-color: #D4F0F0;
}
   .wh_tile_shortdesc {
    margin-top: 0.5em;
    text-align: center;
    color: white;
}

.wh_topic_toc .wh_topic_label {
    font-weight: 500;
    color: black;
    /* background-color: lightgrey; */
}
.wh_topic_toc {
    border-left: 1px solid #cfe2f5;
    margin-left: 0;
    padding-left: 1em;
    background-color: #D4F0F0;
}
*[class~="topic/note"]:not([class~="hazard-d/hazardstatement"]) {
    background-color: #D4F0F0;
    border-color: #0078A0;
}
*[class~="topic/note"]:not([class~="hazard-d/hazardstatement"]) {
    background-color: #D4F0F0;
    border-color: #0078A0;
}

.wh_topic_toc a {
    color:#494949;
} 
.wh_topic_toc a:visited {
    color:#494949;
}     

.wh_tile_title a:visited {
    color: white;
}
    .wh_right_tools {
    display: none;
    align-items: center;
}
 
    .wh_publication_toc li {
    line-height: 2.3em;
    margin: .0em 0;
    font-weight: 400;
    font-size: 12pt;
    font-family: sans-serif;
    color:white;
}
.wh_publication_toc ul {
    list-style: none;
    margin: 0;
    padding: 8px;
    word-wrap: break-word;
    background-color: #3f526f;
    color:white;
}

.wh_publication_toc ul a{
    color: white;
}
      
.wh_publication_toc ul.li a{
        color: white;
}

.wh_tile_title {
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    font-size: 18pt;
}

.wh_tools {
    background-color: #ECF2F9;
    margin: 1em 0 2em;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.wh_publication_title > a {
    color: #3f526f;
    font-size: 2em;
    font-weight: 600;
}
.wh_search_input {
    background-color: #3f526f;
}
element.style {
    top: 274.968px;
    width: 150px;
    height: 600px;
    position: fixed;
    z-index: 997;
    display: flex;
    flex-direction: column;
    max-height: 835.032px;
}
.p {
    margin-top: 0.5em;
}
p {
    margin-bottom: 0.5em;
}